In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [3]:
titanic = sns.load_dataset('titanic')

In [4]:
# : = All rows 
df = titanic.loc[: , ['age','fare']]

In [5]:
print(df.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [6]:
addition = df + 10

In [7]:
print(addition.head())

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

In [9]:
print(type(addition))

<class 'pandas.core.frame.DataFrame'>

In [10]:
substraction = addition - df

In [11]:
print(substraction)

      age  fare
0    10.0  10.0
1    10.0  10.0
2    10.0  10.0
3    10.0  10.0
4    10.0  10.0
..    ...   ...
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

[891 rows x 2 columns]