In [2]:
import pandas as pd
import numpy as np
import random 
import tensorflow as tf

In [3]:
SEED = 12
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)

print("고정시드 : ", SEED)

고정시드 :  12

In [6]:
# Data Loading 

train = pd.read_csv('./wine_train.csv')
test = pd.read_csv('./wine_test.csv')
submission = pd.read_csv('./wine_sample_submission.csv')

print(train.shape, test.shape, submission.shape)

(5497, 14) (1000, 13) (1000, 2)

In [7]:
train.head(2)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red

In [8]:
test.head(2)

,index,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,9.0,0.31,0.48,6.6,0.043,11.0,73.0,0.9938,2.90,0.38,11.6,white
1,1,13.3,0.43,0.58,1.9,0.070,15.0,40.0,1.0004,3.06,0.49,9.0,red

In [9]:
submission.head(2)

   index  quality
0      0        0
1      1        0

In [11]:
# cal : type 에 종류를 숫자로 바꾸기 위해 파악한다. 
train['type'].value_counts()

type
white    4159
red      1338
Name: count, dtype: int64

In [12]:
# white : 1, red : 0 

train['type'] = np.where(train['type']=='white',1, 0).astype(int)

In [13]:
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,1
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,1
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,1
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,1

In [17]:
test['type'] = np.where(test['type']=='white', 1, 0).astype(int)

In [18]:
test.head()

,index,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,9.0,0.31,0.48,6.6,0.043,11.0,73.0,0.99380,2.90,0.38,11.6,1
1,1,13.3,0.43,0.58,1.9,0.070,15.0,40.0,1.00040,3.06,0.49,9.0,0
2,2,6.5,0.28,0.27,5.2,0.040,44.0,179.0,0.99480,3.19,0.69,9.4,1
3,3,7.2,0.15,0.39,1.8,0.043,21.0,159.0,0.99480,3.52,0.47,10.0,1
4,4,6.8,0.26,0.26,2.0,0.019,23.5,72.0,0.99041,3.16,0.47,11.8,1

In [20]:
train['quality'].value_counts()

#Quality 등급 : 3~9

quality
6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: count, dtype: int64

In [89]:
qc = train['quality'].value_counts()

print(qc.sort_index()) # Series 의 인덱스 정렬

quality
3      26
4     186
5    1788
6    2416
7     924
8     152
9       5
Name: count, dtype: int64

In [33]:
# 3~9까지 7등급으로 된 것을 Quailty 등급을 전체 3등급 하향조정 : 0~6등급으로 분류 
from tensorflow.keras.utils import to_categorical

y_train = to_categorical(train.loc[:, 'quality']-3)

print(y_train[0])
type(y_train)

[0. 0. 1. 0. 0. 0. 0.]

numpy.ndarray

In [37]:
print(train)

      index  quality  fixed acidity  volatile acidity  citric acid  \
0         0        5            5.6             0.695         0.06
1         1        5            8.8             0.610         0.14
2         2        5            7.9             0.210         0.39
3         3        6            7.0             0.210         0.31
4         4        6            7.8             0.400         0.26
...     ...      ...            ...               ...          ...
5492   5492        5            7.7             0.150         0.29
5493   5493        6            6.3             0.180         0.36
5494   5494        7            7.8             0.150         0.34
5495   5495        5            6.6             0.410         0.31
5496   5496        6            7.0             0.350         0.17

      residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  \
0                6.8      0.042                  9.0                  84.0
1                2.4      0.067                 10.0                  42.0
2                2.0      0.057                 21.0                 138.0
3                6.0      0.046                 29.0                 108.0
4                9.5      0.059                 32.0                 178.0
...              ...        ...                  ...                   ...
5492             1.3      0.029                 10.0                  64.0
5493             1.2      0.034                 26.0                 111.0
5494             1.1      0.035                 31.0                  93.0
5495             1.6      0.042                 18.0                 101.0
5496             1.1      0.049                  7.0                 119.0

      density    pH  sulphates  alcohol  type
0     0.99432  3.44       0.44     10.2     1
1     0.99690  3.19       0.59      9.5     0
2     0.99176  3.05       0.52     10.9     1
3     0.99390  3.26       0.50     10.8     1
4     0.99550  3.04       0.43     10.9     1
...       ...   ...        ...      ...   ...
5492  0.99320  3.35       0.39     10.1     1
5493  0.99074  3.16       0.51     11.0     1
5494  0.99096  3.07       0.72     11.3     1
5495  0.99195  3.13       0.41     10.5     1
5496  0.99297  3.13       0.36      9.7     1

[5497 rows x 14 columns]

In [40]:


X_train = train.loc[:, 'fixed acidity': ]
X_test = test.loc[:, 'fixed acidity':]

In [43]:
print(X_test.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            9.0              0.31         0.48             6.6      0.043
1           13.3              0.43         0.58             1.9      0.070
2            6.5              0.28         0.27             5.2      0.040
3            7.2              0.15         0.39             1.8      0.043
4            6.8              0.26         0.26             2.0      0.019

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  73.0  0.99380  2.90       0.38
1                 15.0                  40.0  1.00040  3.06       0.49
2                 44.0                 179.0  0.99480  3.19       0.69
3                 21.0                 159.0  0.99480  3.52       0.47
4                 23.5                  72.0  0.99041  3.16       0.47

   alcohol  type
0     11.6     1
1      9.0     0
2      9.4     1
3     10.0     1
4     11.8     1

In [44]:
print(X_train.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            5.6             0.695         0.06             6.8      0.042
1            8.8             0.610         0.14             2.4      0.067
2            7.9             0.210         0.39             2.0      0.057
3            7.0             0.210         0.31             6.0      0.046
4            7.8             0.400         0.26             9.5      0.059

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                  9.0                  84.0  0.99432  3.44       0.44
1                 10.0                  42.0  0.99690  3.19       0.59
2                 21.0                 138.0  0.99176  3.05       0.52
3                 29.0                 108.0  0.99390  3.26       0.50
4                 32.0                 178.0  0.99550  3.04       0.43

   alcohol  type
0     10.2     1
1      9.5     0
2     10.9     1
3     10.8     1
4     10.9     1

In [45]:
# 피쳐 스케일링 
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [47]:
scaler.fit(X_train)

MinMaxScaler()

In [48]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [52]:
print(X_train_scaled.shape, y_train.shape)

(5497, 12) (5497, 7)

In [51]:
print(X_test_scaled.shape)

(1000, 12)

In [53]:
#심층 신경망 모델 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [58]:
def build_model(train_data, train_target):
    model = Sequential()
    
    model.add(Dense(128, activation = 'tanh', input_dim=train_data.shape[1])) #input_dim = 12 
    model.add(Dropout(0,2))
    model.add(Dense(64, activation='tanh'))
    model.add(Dropout(0.2))
    model.add(Dense(32, activation='tanh'))
    model.add(Dense(train_target.shape[1], activation = 'softmax'))
    
    model.compile(optimizer = 'RMSprop', loss = 'catagorical_crossentropy', metrics=['acc','mae'])
    
    return model

In [59]:
model = build_model(X_train_scaled, y_train)

In [61]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 128)               1664

 dropout_1 (Dropout)         (None, 128)               0

 dense_3 (Dense)             (None, 64)                8256

 dropout_2 (Dropout)         (None, 64)                0

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 7)                 231

=================================================================
Total params: 12231 (47.78 KB)
Trainable params: 12231 (47.78 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________