In [9]:
import pandas as pd 
import numpy as np 
import random
import tensorflow as tf

In [12]:
SEED = 12 
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)
print('시드 고정 : ', SEED) #

시드 고정 :  12

In [41]:
train = pd.read_csv("./wine_train.csv")
test = pd.read_csv("./wine_test.csv")
submission=pd.read_csv("./wine_sample_submission.csv")

## 데이터 전처리

In [42]:
train['quality']

0       5
1       5
2       5
3       6
4       6
       ..
5492    5
5493    6
5494    7
5495    5
5496    6
Name: quality, Length: 5497, dtype: int64

In [43]:
train['type'].value_counts()

type
white    4159
red      1338
Name: count, dtype: int64

In [44]:
submission.head()

   index  quality
0      0        0
1      1        0
2      2        0
3      3        0
4      4        0

In [45]:
train['type'] = np.where(train['type']=='white',1,0 ).astype(int)
test['type'] = np.where(test['type']=='white' ,1,0).astype(int)

In [47]:
train['type'].value_counts()

type
1    4159
0    1338
Name: count, dtype: int64

In [51]:
train ['quality'].value_counts()

quality
6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: count, dtype: int64

In [52]:
from tensorflow.keras.utils import to_categorical

In [53]:
y_train = to_categorical(train.loc[:,'quality']-3)

In [56]:
y_train

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [59]:
X_train = train.loc[:, 'fixed acidity':]
X_test = test.loc[:, 'fixed acidity':]

In [60]:
print(X_train, X_test)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               5.6             0.695         0.06             6.8      0.042
1               8.8             0.610         0.14             2.4      0.067
2               7.9             0.210         0.39             2.0      0.057
3               7.0             0.210         0.31             6.0      0.046
4               7.8             0.400         0.26             9.5      0.059
...             ...               ...          ...             ...        ...
5492            7.7             0.150         0.29             1.3      0.029
5493            6.3             0.180         0.36             1.2      0.034
5494            7.8             0.150         0.34             1.1      0.035
5495            6.6             0.410         0.31             1.6      0.042
5496            7.0             0.350         0.17             1.1      0.049

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                     9.0                  84.0  0.99432  3.44       0.44
1                    10.0                  42.0  0.99690  3.19       0.59
2                    21.0                 138.0  0.99176  3.05       0.52
3                    29.0                 108.0  0.99390  3.26       0.50
4                    32.0                 178.0  0.99550  3.04       0.43
...                   ...                   ...      ...   ...        ...
5492                 10.0                  64.0  0.99320  3.35       0.39
5493                 26.0                 111.0  0.99074  3.16       0.51
5494                 31.0                  93.0  0.99096  3.07       0.72
5495                 18.0                 101.0  0.99195  3.13       0.41
5496                  7.0                 119.0  0.99297  3.13       0.36

      alcohol  type
0        10.2     1
1         9.5     0
2        10.9     1
3        10.8     1
4        10.9     1
...       ...   ...
5492     10.1     1
5493     11.0     1
5494     11.3     1
5495     10.5     1
5496      9.7     1

[5497 rows x 12 columns]      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0              9.0              0.31         0.48            6.60      0.043
1             13.3              0.43         0.58            1.90      0.070
2              6.5              0.28         0.27            5.20      0.040
3              7.2              0.15         0.39            1.80      0.043
4              6.8              0.26         0.26            2.00      0.019
..             ...               ...          ...             ...        ...
995            7.1              0.59         0.02            2.30      0.082
996            8.7              0.15         0.30            1.60      0.046
997            8.8              0.66         0.26            1.70      0.074
998            7.0              0.42         0.19            2.30      0.071
999            8.5              0.21         0.26            9.25      0.034

     free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                   11.0                  73.0  0.99380  2.90       0.38
1                   15.0                  40.0  1.00040  3.06       0.49
2                   44.0                 179.0  0.99480  3.19       0.69
3                   21.0                 159.0  0.99480  3.52       0.47
4                   23.5                  72.0  0.99041  3.16       0.47
..                   ...                   ...      ...   ...        ...
995                 24.0                  94.0  0.99744  3.55       0.53
996                 29.0                 130.0  0.99420  3.22       0.38
997                  4.0                  23.0  0.99710  3.15       0.74
998                 18.0                  36.0  0.99476  3.39       0.56
999                 73.0                 142.0  0.99450  3.05       0.37

     alcohol  type
0       11.6     1
1        9.0     0
2        9.4     1
3       10.0     1
4       11.8     1
..       ...   ...
995      9.7     0
996      9.8     1
997      9.2     0
998     10.9     0
999     11.4     1

[1000 rows x 12 columns]

In [61]:
# 피처 선택
X_train = train.loc[:, 'fixed acidity':]
X_test = test.loc[:, 'fixed acidity':]

# 피처 스케일링
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

print(X_train_scaled.shape, y_train.shape)
print(X_test_scaled.shape)

(5497, 12) (5497, 7)
(1000, 12)

In [62]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [73]:
def add (x,y):
    a = x + y
    return a

In [70]:
print(add (1,2))

3

In [74]:
add(1,2)

In [75]:
print(a)

3

In [76]:
add(x, y) 
{
a = x + y
return a 
}

result = addmul(10,20)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3634943305.py, line 3)