In [1]:
#라이브러리 불러온다

import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [ ]:
# Conda prompt , Terminal 통해 업그레이드 

#!pip install pandas --upgrade

In [2]:
pd.__version__

'2.1.1'

# 데이터 프레임 과 시리즈 구조 이해

## 데이터 생성

In [4]:
document = ["데이터 조작을 용이하게 하기", "위해 다차원 배열에 인덱스를", "지정한 자료구조를", "정의하고 정렬", "변환", "삭제 등을", "할 수 있는", "메서드를 제공"]

In [9]:
sr = pd.Series(document)

In [40]:
# 컬럼명 변경 하여 생성하기 
df = pd.DataFrame(document ,columns=['문서'])

In [41]:
# 행 열 
df.shape

(8, 1)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   문서      8 non-null      object
dtypes: object(1)
memory usage: 196.0+ bytes

## 데이터 프레임

In [43]:
# 문의날짜 [컬럼]열 생성 하기 
df["날짜"] = '2022-05-01'

In [15]:
# Section : 특정 행 , 열 선택하기 
df

                문서          날짜
0  데이터 조작을 용이하게 하기  2022-05-01
1  위해 다차원 배열에 인덱스를  2022-05-01
2        지정한 자료구조를  2022-05-01
3          정의하고 정렬  2022-05-01
4               변환  2022-05-01
5            삭제 등을  2022-05-01
6           할 수 있는  2022-05-01
7          메서드를 제공  2022-05-01

In [16]:
df['문서'] # 문사를 열 을 가지고 온다. => 시리즈 타입

0    데이터 조작을 용이하게 하기
1    위해 다차원 배열에 인덱스를
2          지정한 자료구조를
3            정의하고 정렬
4                 변환
5              삭제 등을
6             할 수 있는
7            메서드를 제공
Name: 문서, dtype: object

In [19]:
df[['날짜','문서']] # [이차원으로] 입력 시 특정 행을 가지고옴

           날짜               문서
0  2022-05-01  데이터 조작을 용이하게 하기
1  2022-05-01  위해 다차원 배열에 인덱스를
2  2022-05-01        지정한 자료구조를
3  2022-05-01          정의하고 정렬
4  2022-05-01               변환
5  2022-05-01            삭제 등을
6  2022-05-01           할 수 있는
7  2022-05-01          메서드를 제공

In [20]:
#행 데이터 가지고 오기 

df.loc[0]

문서    데이터 조작을 용이하게 하기
날짜         2022-05-01
Name: 0, dtype: object

In [35]:
df.loc[[0]] # 행 전체 열을 가지고옴

                문서          날짜
0  데이터 조작을 용이하게 하기  2022-05-01

In [36]:
# 특정 데이터 선택하기
df.loc[0,'날짜'] # 0열의 날짜행 을 선택하기

'2022-05-01'

In [38]:
# 특정 데이터 선택하기
df.at[1,'문서']

'위해 다차원 배열에 인덱스를'

In [30]:
df.iat[1,1]

'2022-05-01'

In [32]:
df.iloc[1,0] # 순서대로 가지고 온다.

'위해 다차원 배열에 인덱스를'

In [48]:
# 판다스에서 소스 코드 보기 

df.head??

# > self.iloc[:n] 를 사용한다.

## 문자열 다루기