In [3]:
import pandas as pd 

ts = pd.to_datetime("20210102 090000")

print(type(ts))
print(ts)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2021-01-02 09:00:00

In [5]:
print(pd.to_datetime("86/07/22"))

1986-07-22 00:00:00

In [6]:
print(pd.to_datetime('06/07/20', format="%d/%m/%y"))

2020-07-06 00:00:00

In [7]:
print(ts.year)

2021

In [8]:
print(ts.month)

1

In [9]:
print(ts.weekday())

5

In [10]:
print(ts.strftime("%Y-%m -%d"))

2021-01 -02

In [15]:
print(ts.strftime("%d"))

02

In [17]:
df = pd.read_excel("./data.xlsx", index_col=0)

/Users/sl/anaconda3/envs/ML/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [19]:
print(df.head(3))

               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
일자
2021/08/13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355
2021/08/12  77000 -1500 -1.91  77100  78200  76900  42365223  3276635421700
2021/08/11  78500 -1700 -2.12  79600  79800  78500  30241137  2389977254924

                       시가총액       상장주식수
일자
2021/08/13  444151821720000  5969782550
2021/08/12  459673256350000  5969782550
2021/08/11  468627930175000  5969782550

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 2021/08/13 to 2021/02/15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9+ KB

In [22]:
df.index

Index(['2021/08/13', '2021/08/12', '2021/08/11', '2021/08/10', '2021/08/09',
       '2021/08/06', '2021/08/05', '2021/08/04', '2021/08/03', '2021/08/02',
       ...
       '2021/02/26', '2021/02/25', '2021/02/24', '2021/02/23', '2021/02/22',
       '2021/02/19', '2021/02/18', '2021/02/17', '2021/02/16', '2021/02/15'],
      dtype='object', name='일자', length=127)

In [26]:
type(df.index[0])

str

In [28]:
df.index =  pd.to_datetime(df.index)

In [29]:
df = df.sort_index()

In [30]:
print(df.head(5))

               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
일자
2021-02-15  84200  2600  3.19  83800  84500  83300  23529706  1978336504100
2021-02-16  84900   700  0.83  84500  86000  84200  20483100  1740792201903
2021-02-17  83200 -1700 -2.00  83900  84200  83000  18307735  1526409421172
2021-02-18  82100 -1100 -1.32  83200  83600  82100  21327683  1762033944231
2021-02-19  82600   500  0.61  82300  82800  81000  25880879  2121275310450

                       시가총액       상장주식수
일자
2021-02-15  502655690710000  5969782550
2021-02-16  506834538495000  5969782550
2021-02-17  496685908160000  5969782550
2021-02-18  490119147355000  5969782550
2021-02-19  493104038630000  5969782550

In [31]:
df = pd.read_excel("./data.xlsx", parse_dates=['일자'])

/Users/sl/anaconda3/envs/ML/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [33]:
print(df['일자'].dtype)

datetime64[ns]

In [34]:
print(type(df['일자'].iloc[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [35]:
df['일자'].dt.quarter

0      3
1      3
2      3
3      3
4      3
      ..
122    1
123    1
124    1
125    1
126    1
Name: 일자, Length: 127, dtype: int32

In [36]:
# gropuby  시가/고가/저가/종가 정리해보기 

#원하는 데이터만 분리시키기 

df1 = df[['일자','시가','저가','고가','종가']].copy()

In [37]:
df1['year'] = df['일자'].dt.year

In [38]:
print(df1.head())

          일자     시가     저가     고가     종가  year
0 2021-08-13  75800  74100  76000  74400  2021
1 2021-08-12  77100  76900  78200  77000  2021
2 2021-08-11  79600  78500  79800  78500  2021
3 2021-08-10  82300  80100  82400  80200  2021
4 2021-08-09  81500  80900  82300  81500  2021

In [41]:
df1['month'] = df['일자'].dt.month

In [42]:
df1.head()

          일자     시가     저가     고가     종가  year  month
0 2021-08-13  75800  74100  76000  74400  2021      8
1 2021-08-12  77100  76900  78200  77000  2021      8
2 2021-08-11  79600  78500  79800  78500  2021      8
3 2021-08-10  82300  80100  82400  80200  2021      8
4 2021-08-09  81500  80900  82300  81500  2021      8

In [43]:
type (df1['year'][0])

numpy.int32

In [48]:
gb = df1.groupby(['year','month'])

print (gb)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x16bb0f7d0>

In [53]:
gb.get_group((2021,2)).head()

            일자     시가     저가     고가     종가  year  month
117 2021-02-26  82800  82000  83400  82500  2021      2
118 2021-02-25  84000  83000  85400  85300  2021      2
119 2021-02-24  81800  81300  83600  82000  2021      2
120 2021-02-23  81200  81100  82900  82000  2021      2
121 2021-02-22  83800  82200  84200  82200  2021      2

In [47]:

how = {
    "시가":'first',
    "저가": min,
    "고가": max,
    "종가":'last'
}

gb.agg(how)

               시가     저가     고가     종가
year month
2021 2      82800  81000  86000  84200
     3      82400  80600  85300  83600
     4      81900  81500  86200  82900
     5      80300  78400  83500  81700
     6      81100  79600  83000  80600
     7      78900  78100  81300  80100
     8      75800  74100  83300  79300