In [1]:
from pandas import DataFrame

data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = DataFrame(data=data)
df = df.set_index('cd')
df

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [2]:
cond = df['open'] >= 2000
print(cond)

cd
A060310     True
A095570    False
A006840     True
A054620     True
Name: open, dtype: bool

In [3]:
df[cond]

             nm  open  close
cd
A060310      3S  2920   2800
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [4]:
df[df['open']>=2000]

             nm  open  close
cd
A060310      3S  2920   2800
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [5]:
print(df.query("open < close"))

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [7]:
df.query('nm in ["3S","AK홀딩스"]')

            nm  open  close
cd
A060310     3S  2920   2800
A006840  AK홀딩스  2020   2010

In [8]:
df.query('cd == "A054620"')

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [9]:
print(df)

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [11]:
from pandas import DataFrame

In [12]:
#filter 

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data, index= index , columns= columns)

In [13]:
print(df)

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [14]:
df.filter(items=['2020/12']) # items : 선택한 컬럼, indec 명을 지정 할수 있음 필터링 함.

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

In [16]:
df.filter(items=['DPS','2019/12'])

     2019/12
DPS  1416.00
PER    17.63
PBR     1.49

In [17]:
df.filter(regex='\d{4}/\d{2}$')

     2018/12  2019/12  2020/12
DPS  1416.00  1416.00  2994.00
PER     6.42    17.63    21.09
PBR     1.10     1.49     2.06

In [1]:
#정렬 및 순위

from pandas import DataFrame


data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005670", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]

In [2]:
df = DataFrame(data, columns= columns)

In [3]:
print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005670   ACTS  1185

In [7]:
df2 = df.sort_values("현재가",ascending=False)

In [8]:
print(df2)

     종목코드    종목명   현재가
1  036360  3SOFT  1790
0  037730     3R  1510
2  005670   ACTS  1185

In [9]:
df['순위'] = df['현재가'].rank()
print(df)

     종목코드    종목명   현재가   순위
0  037730     3R  1510  2.0
1  036360  3SOFT  1790  3.0
2  005670   ACTS  1185  1.0

In [10]:
df.sort_values(by='순위', inplace = True)
print(df)

     종목코드    종목명   현재가   순위
2  005670   ACTS  1185  1.0
0  037730     3R  1510  2.0
1  036360  3SOFT  1790  3.0

In [13]:
import pandas as pd 

idx1 = pd.Index([1,2,3])
idx2 = pd.Index([2,3,4])

In [14]:
idx1.union(idx2)

Index([1, 2, 3, 4], dtype='int64')

In [15]:
idx1.intersection(idx2)

Index([2, 3], dtype='int64')

In [19]:
idx3 = idx1.difference(idx2)

In [20]:
print(idx3)

Index([1], dtype='int64')

In [21]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]

In [22]:
df = pd.DataFrame(data, columns= columns)

In [23]:
print(df)

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

In [27]:
df1 = df[df['테마'] =='2차전지(생산)']

In [28]:
print(df1)

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [29]:
df2 = df[df['테마']=='해운']

In [30]:
df3 = df[df['테마']== '시스템반도체']

In [31]:
mean1 = df1['PER'].mean() 
mean2 = df2['PER'].mean()
mean3 = df3['PER'].mean()

In [32]:
data = [mean1,mean2,mean3]

index = ['2차전지(생산)','해운','시스템반도체']

mean_by_category = pd.Series(data=data, index= index)

In [33]:
print(mean_by_category)

2차전지(생산)    46.625
해운          21.375
시스템반도체      36.645
dtype: float64

In [38]:
#위에 과정을 한번에 끝낼수 있다. groupby() 

rt = df.groupby('테마')['PER'].mean()

print(type(rt))

<class 'pandas.core.series.Series'>

In [41]:
temp = df[['테마','PER','PBR']].groupby('테마').get_group('2차전지(생산)')

In [54]:
print(temp)

         테마    PER   PBR
0  2차전지(생산)  10.19  1.29
5  2차전지(생산)  83.06  3.75

In [56]:
df.groupby('테마')[['PER','PBR']].mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

In [57]:
df.groupby('테마').agg({"PER": max, 'PBR': min})

            PER   PBR
테마
2차전지(생산)  83.06  1.29
시스템반도체    37.32  1.12
해운        21.52  0.95

In [61]:
import numpy as np 

df.groupby('테마').agg({'PER': [min, max], 'PBR': [np.std, np.var]})

            PER              PBR
            min    max       std      var
테마
2차전지(생산)  10.19  83.06  1.739483  3.02580
시스템반도체    35.97  37.32  1.718269  2.95245
해운        21.23  21.52  1.590990  2.53125

In [62]:
# concat 

data = {
    '종가': [113000,1115000],
    '거래량': [555850, 282163]
}

index = ['2019-06-21', '2019-06-20']

df1 = DataFrame(data=data, index= index)

In [63]:
print(df1)

                 종가     거래량
2019-06-21   113000  555850
2019-06-20  1115000  282163

In [64]:
data2 = {
    '시가': [112500, 110000],
    '고가': [115000, 112000],
    '저가': [111500, 109000]
}

index = ['2019-06-21', '2019-06-20']

df2 = DataFrame(data=data2, index = index)

In [65]:
print(df2)

                시가      고가      저가
2019-06-21  112500  115000  111500
2019-06-20  110000  112000  109000

In [66]:
df = pd.concat([df1, df2], axis=1)

In [67]:
print(df)

                 종가     거래량      시가      고가      저가
2019-06-21   113000  555850  112500  115000  111500
2019-06-20  1115000  282163  110000  112000  109000

In [68]:
column_sort_order = ['시가','고가','저가','종가','거래량']

In [69]:
df = df[column_sort_order]

In [70]:
print(df)

                시가      고가      저가       종가     거래량
2019-06-21  112500  115000  111500   113000  555850
2019-06-20  110000  112000  109000  1115000  282163